In [8]:
import os
import pandas as pd
import glob

# show all columns
pd.options.display.max_columns = None

In [9]:
if not os.path.exists('Outputs'):
    os.makedirs('Outputs')
    
outputs = ['.\\Outputs']

In [10]:
result1 = pd.read_csv(r".\inputs\centered_vs_noncentered_growth_mq1.csv", index_col='year')
result2 = pd.read_csv(r".\inputs\centered_vs_noncentered_growth_mq2.csv", index_col='year')
result3 = pd.read_csv(r".\inputs\centered_vs_noncentered_growth_mq3.csv", index_col='year')
result4 = pd.read_csv(r".\inputs\centered_vs_noncentered_growth_mq4.csv", index_col='year')
result5 = pd.read_csv(r".\inputs\centered_vs_noncentered_growth_mq5.csv", index_col='year')
result6 = pd.read_csv(r".\inputs\centered_vs_noncentered_growth_mq6.csv", index_col='year')

In [11]:
results = pd.concat([result1, result2, result3, result4, result5, result6])
results = results.groupby(results.index).mean().reset_index()
results = results.round().astype(int)

In [12]:
results['%_new_res_units'] = results['in_new_res_units'] / (results['out_new_res_units'] + results['in_new_res_units'])
results['%_new_sf_units'] = results['in_new_sf_units'] / (results['out_new_sf_units'] + results['in_new_sf_units'])
results['%_new_mf_units'] = results['in_new_mf_units'] / (results['out_new_mf_units'] + results['in_new_mf_units'])
results['%_new_jobs'] = results['in_new_jobs'] / (results['out_new_jobs'] + results['in_new_jobs'])
results['%_new_retail_jobs'] = results['in_new_retail_jobs'] / (results['out_new_retail_jobs'] + results['in_new_retail_jobs'])
results['%_new_industrial_jobs'] = results['in_new_industrial_jobs'] / (results['out_new_industrial_jobs'] + results['in_new_industrial_jobs'])
results['%_new_office_jobs'] = results['in_new_office_jobs'] / (results['out_new_office_jobs'] + results['in_new_office_jobs'])

In [13]:
results.head()

,year,in_new_res_units,out_new_res_units,in_new_sf_units,out_new_sf_units,in_new_mf_units,out_new_mf_units,in_new_jobs,out_new_jobs,in_new_retail_jobs,out_new_retail_jobs,in_new_industrial_jobs,out_new_industrial_jobs,in_new_office_jobs,out_new_office_jobs,%_new_res_units,%_new_sf_units,%_new_mf_units,%_new_jobs,%_new_retail_jobs,%_new_industrial_jobs,%_new_office_jobs
0,2020,2839,10696,112,7442,2728,3253,-32124,-35683,-10399,-7101,-548,-2259,-21178,-26323,0.209752,0.014827,0.456111,0.473756,0.594229,0.195226,0.445843
1,2021,2246,7560,150,4918,2096,2642,46060,55442,10820,7861,2187,11261,33054,36321,0.229043,0.029597,0.442381,0.453784,0.579198,0.162626,0.476454
2,2022,3229,11112,187,7631,3042,3481,30660,34472,-2029,-1696,1346,4890,31342,31277,0.225159,0.023919,0.466350,0.470736,0.544698,0.215843,0.500519
3,2023,6920,7369,48,4398,6872,2972,24272,22413,4692,531,1305,6943,18274,14939,0.484289,0.010796,0.698090,0.519910,0.898334,0.158220,0.550206
4,2024,6688,9392,61,6841,6626,2551,15424,17162,1695,9,647,4371,13081,12782,0.415920,0.008838,0.722022,0.473332,0.994718,0.128936,0.505780

In [14]:
# export
results.to_csv(os.path.join(outputs[0], 'centered_vs_noncentered_growth_6runs_average.csv'), index=False)