In [1]:
import os
import sys
import time
import pandas as pd
import arcpy
from arcgis.features import GeoAccessor, GeoSeriesAccessor

In [2]:
# show all columns
pd.options.display.max_columns = None

## 2015

In [3]:
# import the taz outputs 
run1 = pd.read_csv(r'.\Inputs\run1\SE_WF_2015.csv')
run2 = pd.read_csv(r'.\Inputs\run2\SE_WF_2015.csv')
run3 = pd.read_csv(r'.\Inputs\run3\SE_WF_2015.csv')
run4 = pd.read_csv(r'.\Inputs\run4\SE_WF_2015.csv')
run5 = pd.read_csv(r'.\Inputs\run5\SE_WF_2015.csv')

In [4]:
# average each cell across runs
runs = pd.concat([run1,run2,run3,run4,run5])
mean = runs.groupby(runs.index).mean()

# get county name (CO_NAME) back on the table
mean2015 = mean.merge(run1[[';TAZID', 'CO_NAME']], left_on=';TAZID', right_on=';TAZID', how='inner')

In [5]:
# export the result
mean2015.to_csv(r'.\Outputs\SE_WF_2015_Maxsprawl.csv')

## 2020

In [6]:
# import the taz outputs 
run1 = pd.read_csv(r'.\Inputs\run1\SE_WF_2020.csv')
run2 = pd.read_csv(r'.\Inputs\run2\SE_WF_2020.csv')
run3 = pd.read_csv(r'.\Inputs\run3\SE_WF_2020.csv')
run4 = pd.read_csv(r'.\Inputs\run4\SE_WF_2020.csv')
run5 = pd.read_csv(r'.\Inputs\run5\SE_WF_2020.csv')

In [7]:
# average each cell across runs
runs = pd.concat([run1,run2,run3,run4,run5])
mean = runs.groupby(runs.index).mean()

# get county name (CO_NAME) back on the table
mean2020 = mean.merge(run1[[';TAZID', 'CO_NAME']], left_on=';TAZID', right_on=';TAZID', how='inner')

In [8]:
# export the result
mean2020.to_csv(r'.\Outputs\SE_WF_2020_Maxsprawl.csv')

In [9]:
run1.head()

,;TAZID,CO_TAZID,TOTHH,HHPOP,HHSIZE,TOTEMP,RETEMP,INDEMP,OTHEMP,ALLEMP,RETL,FOOD,MANU,WSLE,OFFI,GVED,HLTH,OTHR,FM_AGRI,FM_MING,FM_CONS,HBJ,AVGINCOME,Enrol_Elem,Enrol_Midl,Enrol_High,CO_FIPS,CO_NAME
0,141,570141,145.0,390.274663,2.691549,959.0,3.0,728.0,228.0,1245.975037,0.0,3.0,728.0,0.0,12.0,192.0,5.0,19.0,96.200418,180.77305,0.000000,10.001570,60843,0.0,0.0,0.0,57,WEBER
1,142,570142,33.0,97.815675,2.964111,0.0,0.0,0.0,0.0,16.029542,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.029228,0.00000,0.000000,2.000314,60843,0.0,0.0,0.0,57,WEBER
2,143,570143,52.0,158.085939,3.040114,1.0,0.0,0.0,1.0,26.044469,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,21.043841,0.00000,0.000000,4.000628,60843,0.0,0.0,0.0,57,WEBER
3,144,570144,31.0,81.019044,2.613518,0.0,0.0,0.0,0.0,16.029542,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.029228,0.00000,0.000000,2.000314,66989,0.0,0.0,0.0,57,WEBER
4,145,570145,165.0,501.922858,3.041957,0.0,0.0,0.0,0.0,30.031333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.027140,0.00000,6.002466,11.001727,66989,0.0,0.0,0.0,57,WEBER

In [10]:
mean.head()

,;TAZID,CO_TAZID,TOTHH,HHPOP,HHSIZE,TOTEMP,RETEMP,INDEMP,OTHEMP,ALLEMP,RETL,FOOD,MANU,WSLE,OFFI,GVED,HLTH,OTHR,FM_AGRI,FM_MING,FM_CONS,HBJ,AVGINCOME,Enrol_Elem,Enrol_Midl,Enrol_High,CO_FIPS
0,141,570141,148.0,404.709993,2.734378,959.4,4.0,731.6,223.8,1246.511401,0.0,4.0,731.6,0.0,11.2,188.6,2.6,21.4,96.341486,180.77305,0.000000,9.996865,60843,0.0,0.0,0.0,57
1,142,570142,32.8,95.644772,2.915343,0.0,0.0,0.0,0.0,16.049173,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.049800,0.00000,0.000000,1.999373,60843,0.0,0.0,0.0,57
2,143,570143,51.2,155.519392,3.037552,1.4,0.0,0.2,1.2,25.873728,0.0,0.0,0.2,0.0,0.4,0.4,0.4,0.0,21.074700,0.00000,0.000000,3.399028,60843,0.0,0.0,0.0,57
3,144,570144,31.6,86.356473,2.733316,0.0,0.0,0.0,0.0,18.049379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.049800,0.00000,2.000205,1.999373,66989,0.0,0.0,0.0,57
4,145,570145,174.0,524.065973,3.013297,0.0,0.0,0.0,0.0,60.645864,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.243103,0.00000,36.406554,11.996207,66989,0.0,0.0,0.0,57

## 2030

In [11]:
# import the taz outputs 
run1 = pd.read_csv(r'.\Inputs\run1\SE_WF_2030.csv')
run2 = pd.read_csv(r'.\Inputs\run2\SE_WF_2030.csv')
run3 = pd.read_csv(r'.\Inputs\run3\SE_WF_2030.csv')
run4 = pd.read_csv(r'.\Inputs\run4\SE_WF_2030.csv')
run5 = pd.read_csv(r'.\Inputs\run5\SE_WF_2030.csv')

In [12]:
# average each cell across runs
runs = pd.concat([run1,run2,run3,run4,run5])
mean = runs.groupby(runs.index).mean()

# get county name (CO_NAME) back on the table
mean2030 = mean.merge(run1[[';TAZID', 'CO_NAME']], left_on=';TAZID', right_on=';TAZID', how='inner')

In [13]:
# export the result
mean2030.to_csv(r'.\Outputs\SE_WF_2030_Maxsprawl.csv')

## 2040

In [14]:
# import the taz outputs 
run1 = pd.read_csv(r'.\Inputs\run1\SE_WF_2040.csv')
run2 = pd.read_csv(r'.\Inputs\run2\SE_WF_2040.csv')
run3 = pd.read_csv(r'.\Inputs\run3\SE_WF_2040.csv')
run4 = pd.read_csv(r'.\Inputs\run4\SE_WF_2040.csv')
run5 = pd.read_csv(r'.\Inputs\run5\SE_WF_2040.csv')

In [15]:
# average each cell across runs
runs = pd.concat([run1,run2,run3,run4,run5])
mean = runs.groupby(runs.index).mean()

# get county name (CO_NAME) back on the table
mean2040 = mean.merge(run1[[';TAZID', 'CO_NAME']], left_on=';TAZID', right_on=';TAZID', how='inner')

In [16]:
# export the result
mean2040.to_csv(r'.\Outputs\SE_WF_2040_Maxsprawl.csv')

## 2050

In [17]:
# import the taz outputs 
run1 = pd.read_csv(r'.\Inputs\run1\SE_WF_2050.csv')
run2 = pd.read_csv(r'.\Inputs\run2\SE_WF_2050.csv')
run3 = pd.read_csv(r'.\Inputs\run3\SE_WF_2050.csv')
run4 = pd.read_csv(r'.\Inputs\run4\SE_WF_2050.csv')
run5 = pd.read_csv(r'.\Inputs\run5\SE_WF_2050.csv')

In [18]:
# average each cell across runs
runs = pd.concat([run1,run2,run3,run4,run5])
mean = runs.groupby(runs.index).mean()

# get county name (CO_NAME) back on the table
mean2050 = mean.merge(run1[[';TAZID', 'CO_NAME']], left_on=';TAZID', right_on=';TAZID', how='inner')

In [19]:
# export the result
mean2050.to_csv(r'.\Outputs\SE_WF_2050_Maxsprawl.csv')

## Create Spatial Outputs

In [20]:
# read in the taz shapefile
taz = '.\\Inputs\\TAZ_WFRC_UTM12.shp'
taz_sdf = pd.DataFrame.spatial.from_featureclass(taz)
taz_sdf.columns

Index(['FID', 'CO_TAZID', 'DEVACRES', 'TAZID', 'CO_FIPS', 'CO_NAME', 'SHAPE'], dtype='object')

In [21]:
# create output gdb
outputs = '.\\Outputs'
gdb = os.path.join(outputs, "max_sprawl_results.gdb")
if not arcpy.Exists(gdb):
    arcpy.CreateFileGDB_management(outputs, "max_sprawl_results.gdb")

In [22]:
mean2015["year"]= 2015
mean2020["year"]= 2020
mean2030["year"]= 2030
mean2040["year"]= 2040
mean2050["year"]= 2050

#concatenate all the tables together to one file
means_cat = pd.concat([mean2015, mean2020, mean2030, mean2040, mean2050])
                    
maxsprawl_sdf = taz_sdf.merge(means_cat, left_on='TAZID', right_on=';TAZID', how='left')
maxsprawl_sdf.spatial.to_featureclass(location=os.path.join(gdb, 'SE_WF_MAXSPRAWL_2015_2050'))

'E:\\Projects\\REMM-Analysis-Tools\\Max_Sprawl_Outputs\\Outputs\\max_sprawl_results.gdb\\SE_WF_MAXSPRAWL_2015_2050'

## Create Difference 2050 - 2015 (baseyear)

In [23]:
# sort the tables by tazid
mean2015.sort_values(by=[';TAZID'], inplace=True)
mean2050.sort_values(by=[';TAZID'], inplace=True)

base = mean2050[[';TAZID', 'CO_TAZID']].copy()

# get the differences
base['diff_hh'] = mean2050['TOTHH'] - mean2015['TOTHH']
base['diff_pop'] = mean2050['HHPOP'] - mean2015['HHPOP']
base['diff_emp'] = mean2050['TOTEMP'] - mean2015['TOTEMP']

diff_sprawl_base = taz_sdf.merge(base, left_on='TAZID', right_on=';TAZID', how='left')
diff_sprawl_base.spatial.to_featureclass(location=os.path.join(gdb, 'SE_WF_DIFF_MAX_SPRAWL2050_MINUS_BASE2015'))

'E:\\Projects\\REMM-Analysis-Tools\\Max_Sprawl_Outputs\\Outputs\\max_sprawl_results.gdb\\SE_WF_DIFF_MAX_SPRAWL2050_MINUS_BASE2015'

## Create Difference 2050 (sprawl) - 2050 (regular)

In [24]:
# read in regular run 2050 table
reg2050 = pd.read_csv(r'.\Inputs\old\SE_WF_2050.csv').sort_values(by=[';TAZID'])

# sort the table by tazid
mean2050.sort_values(by=[';TAZID'], inplace=True)

base = reg2050[[';TAZID', 'CO_TAZID']].copy()

# get the differences
base['diff_hh'] = mean2050['TOTHH'] - reg2050['TOTHH']
base['diff_pop'] = mean2050['HHPOP'] - reg2050['HHPOP']
base['diff_emp'] = mean2050['TOTEMP'] - reg2050['TOTEMP']

diff_sprawl_reg = taz_sdf.merge(base, left_on='TAZID', right_on=';TAZID', how='left')
diff_sprawl_reg.spatial.to_featureclass(location=os.path.join(gdb, 'SE_WF_DIFF_MAX_SPRAWL2050_MINUS_NORMAL2050'))

'E:\\Projects\\REMM-Analysis-Tools\\Max_Sprawl_Outputs\\Outputs\\max_sprawl_results.gdb\\SE_WF_DIFF_MAX_SPRAWL2050_MINUS_NORMAL2050'