## Updating Attribute Names in Base-Year Table
Example:Updating CountyID or CID to CO_FIPS

In [1]:
import os
import sys
import time
import pandas as pd

In [2]:
# show all columns
pd.options.display.max_columns = None

In [3]:
# Read in hdf5 
store = pd.HDFStore('.\\Inputs\\remm_data_2015_base_year_10152020.h5')
tables = list(store.keys())
tables

['/buildings',
 '/buildings_for_estimation',
 '/buildings_for_estimation_grouped',
 '/households',
 '/households_for_estimation',
 '/jobs',
 '/parcels',
 '/zoning',
 '/zoning_baseline',
 '/zoning_for_parcels']

In [4]:
store['buildings'].columns

Index(['building_sqft', 'building_type_id', 'non_residential_sqft', 'note',
       'parcel_id', 'residential_units', 'stories',
       'unit_price_non_residential', 'year_built', 'res_price_per_sqft',
       'job_spaces'],
      dtype='object')

In [5]:
store['buildings_for_estimation'].columns

Index(['parcel_id', 'objectid', 'id', 'building_type_id', 'improvement_value',
       'residential_units', 'non_residential_sqft', 'year_built',
       'unit_price_residential', 'unit_price_non_residential', 'stories',
       'building_sqft', 'sale_lease', 'trans_year', 'actual_r_1'],
      dtype='object')

In [6]:
store['buildings_for_estimation_grouped'].columns

Index(['improvement_value', 'parcel_id', 'non_residential_sqft',
       'building_type_id', 'year_built', 'sale_lease', 'lease_type',
       'trans_year', 'residential_units', 'unit_price_residential',
       'unit_price_non_residential', 'stories', 'building_sqft'],
      dtype='object')

In [7]:
store['households'].columns

Index(['household_id', 'cars', 'household_type_id', 'persons', 'income',
       'workers', 'children', 'age_of_head', 'race_id', 'familyhh', 'block_id',
       'cid', 'building_id'],
      dtype='object')

In [8]:
store['households_for_estimation'].columns

Index(['cars', 'household_type_id', 'persons', 'income', 'workers', 'children',
       'tenure', 'recent_mover', 'building_type_id', 'block_id', 'building_id',
       'proportion_workers', 'zone_id', 'parcel_id', 'node_id',
       'income_quartile', 'county_id'],
      dtype='object')

In [9]:
store['jobs'].columns

Index(['sector_id', 'building_id', 'cid'], dtype='object')

In [10]:
store['parcels'].columns

Index(['county_id', 'zone_id', 'parcel_acres', 'land_value', 'x', 'y',
       'elevation', 'fwy_exit', 'airport', 'rail_depot', 'stream', 'trail',
       'university', 'shape_area', 'volume_one_way', 'volume_two_way',
       'airport_distance', 'fwy_exit_dist', 'raildepot_dist',
       'university_dist', 'trail_dist', 'stream_dist', 'train_station',
       'rail_stn_dist', 'bus_rte_dist', 'bus_stop', 'bus_stop_dist',
       'volume_two_way_nofwy', 'distsml_id', 'distmed_id', 'distlrg_id',
       'parent_parcel', 'CO_NAME', 'parcel_id_REMM', 'county_taz_id', 'utmxi',
       'utmyi', 'city', 'zonal_ppa', 'cid_old'],
      dtype='object')

In [11]:
store['zoning'].columns

Index(['name', 'min_far', 'max_height', 'min_front_setback', 'side_setback',
       'rear_setback', 'city', 'max_far', 'max_front_setback', 'min_dua',
       'max_dua', 'coverage', 'max_du_per_parcel', 'min_lot_size', 'id_class',
       'city_name', 'type1', 'type2', 'type3', 'type4', 'type5', 'type6',
       'type7', 'type8'],
      dtype='object')

In [12]:
store['zoning_baseline'].columns

Index(['max_dua', 'max_far', 'type1', 'type2', 'type3', 'type4', 'type5',
       'type6', 'type7', 'type8', 'max_height'],
      dtype='object')

In [13]:
store['zoning_for_parcels'].columns

Index(['zoning'], dtype='object')

## Listing tables to update
- households
- households_for_estimation
- jobs
- parcels

In [14]:
households = store['households']
households_for_estimation = store['households_for_estimation']
jobs = store['jobs']
parcels = store['parcels']

In [15]:
def RenameAttribute(dataframe,incolumns,outcolumn):
    for column in incolumns:
        if column in list(dataframe.columns):
            dataframe.rename(columns={column:outcolumn},inplace=True)
        else:
            print('{} Is not applicable'.format(column))

In [16]:
RenameAttribute(households,['cid','county_id'],'CO_FIPS')

county_id Is not applicable

In [17]:
households.head()

,household_id,cars,household_type_id,persons,income,workers,children,age_of_head,race_id,familyhh,block_id,CO_FIPS,building_id
0,48,2,1,2,27356.53846,2,0,20,2,1,4443,11,14091
1,110,1,1,2,22795.18946,2,0,21,1,1,1592,11,81576
2,111,1,1,2,21871.72308,2,0,21,1,1,2230,11,112533
3,112,1,1,2,22795.18946,2,0,21,1,1,2745,11,425457
4,113,1,1,2,26076.39344,2,0,21,1,1,3110,11,41442

In [18]:
RenameAttribute(households_for_estimation,['cid','county_id'],'CO_FIPS')
households_for_estimation.head()

cid Is not applicable

,cars,household_type_id,persons,income,workers,children,tenure,recent_mover,building_type_id,block_id,building_id,proportion_workers,zone_id,parcel_id,node_id,income_quartile,CO_FIPS
household_id,,,,,,,,,,,,,,,,,
85,2,1,2,87500,2,0,2,1,1,17049,259924,1.000000,1074,152309,6119734,3,35
86,3,1,3,-1,3,0,2,0,1,6857,440101,1.000000,1607,347510,52501442,1,35
87,2,2,4,42500,2,2,2,0,1,13832,321465,0.500000,1095,224414,30362517,2,35
88,3,1,3,125000,2,0,2,0,1,4031,83948,0.666667,379,390199,6082196,4,35
89,2,2,5,87500,2,3,2,0,1,8950,221670,0.400000,1123,106020,6146478,3,11

In [19]:
RenameAttribute(jobs,['cid','county_id'],'CO_FIPS')
jobs.head()

county_id Is not applicable

         sector_id  building_id  CO_FIPS
jobs_id
89859            1       741332       11
89860            1       741332       11
89861            1       741332       11
89862            1       741332       11
89863            1       741333       11

In [20]:
RenameAttribute(parcels,['cid','county_id'],'CO_FIPS')
parcels.head()

cid Is not applicable

,CO_FIPS,zone_id,parcel_acres,land_value,x,y,elevation,fwy_exit,airport,rail_depot,stream,trail,university,shape_area,volume_one_way,volume_two_way,airport_distance,fwy_exit_dist,raildepot_dist,university_dist,trail_dist,stream_dist,train_station,rail_stn_dist,bus_rte_dist,bus_stop,bus_stop_dist,volume_two_way_nofwy,distsml_id,distmed_id,distlrg_id,parent_parcel,CO_NAME,parcel_id_REMM,county_taz_id,utmxi,utmyi,city,zonal_ppa,cid_old
parcel_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
741871,49,2111,0.197968,35700.00,1531239.186,7330722.151,1447.537450,0.0,0.0,0.0,1.0,0.0,0.0,8.623484e+03,992.0,1942.0,18.02655,0.85831,12.61234,14.73993,0.09764,0.0,0.0,8.748286,2382.31,0.0,0.882466,1942.0,487,38,13,741871,UTAH,741871,492111,424331.7633,4477427.732,Lehi,176926.527483,4
579822,49,2873,37.717834,56614.32,1535437.548,7341595.932,1657.284652,0.0,0.0,0.0,1.0,0.0,0.0,1.642989e+06,3564.0,7135.0,19.48828,1.32984,10.63629,15.94851,0.23207,0.0,0.0,6.691816,4930.50,0.0,1.164110,7135.0,0,0,0,579822,UTAH,579822,492873,425629.9856,4480733.739,Utah County,140869.334754,4
579853,49,2117,6.791235,81500.00,1534101.235,7334630.179,1657.284652,0.0,0.0,0.0,1.0,0.0,0.0,2.958262e+05,0.0,0.0,18.42054,1.66976,11.91035,15.00142,0.55081,0.0,0.0,7.994607,6770.95,0.0,1.661999,0.0,487,38,13,579853,UTAH,579853,492117,425210.6619,4478613.554,Lehi,199096.575130,4
640185,49,2073,1.372797,112100.00,1538253.186,7322787.258,1445.761763,0.0,0.0,0.0,1.0,0.0,0.0,5.979902e+04,2495.0,5043.0,16.06753,0.60111,14.23267,12.73670,0.04966,0.0,0.0,10.277766,2627.34,0.0,0.548186,5043.0,482,38,13,640185,UTAH,640185,492073,426455.1775,4474997.689,Lehi,169098.553773,4
682698,49,2119,0.163751,43000.00,1548648.398,7336198.043,1766.927829,0.0,0.0,0.0,1.0,0.0,0.0,7.132996e+03,3632.0,7133.0,17.61362,3.74880,12.20122,13.84603,0.37882,0.0,0.0,8.210217,9997.32,0.0,2.129948,7133.0,488,39,14,682698,UTAH,682698,492119,429646.0053,4479065.962,Draper,254583.603528,4

## Load Tables into New H5

In [21]:
# store path for new hdf
new_hdf = '.\\Outputs\\remm_data_2015_base_year_10282020.h5'

# if it exists already delete it; it will not overwrite
if os.path.exists(new_hdf):
    try:
        hdf.close()
    except:
        pass
    
    os.remove(new_hdf)

# Create empty h5   
hdf = pd.HDFStore(new_hdf)

In [22]:
# load the new tables to the h5
hdf.put('parcels', parcels, format='t', data_columns=True)
hdf.put('jobs', jobs, format='t', data_columns=True)
hdf.put('households', households, format='t', data_columns=True)
hdf.put('households_for_estimation',households_for_estimation, format='t', data_columns=True)

In [23]:


# load the unchanged tables to the h5
hdf.put('buildings_for_estimation',store['buildings_for_estimation'], format='t', data_columns=True)

hdf.put('buildings_for_estimation_grouped',store['buildings_for_estimation_grouped'], format='t', data_columns=True)

hdf.put('buildings',store['buildings'], format='t', data_columns=True)

hdf.put('zoning', store['zoning'], format='t', data_columns=True)

hdf.put('zoning_baseline', store['zoning_baseline'], format='t', data_columns=True)

hdf.put('zoning_for_parcels',store['zoning_for_parcels'], format='t', data_columns=True)

tables = list(hdf.keys())
tables

['/buildings',
 '/buildings_for_estimation',
 '/buildings_for_estimation_grouped',
 '/households',
 '/households_for_estimation',
 '/jobs',
 '/parcels',
 '/zoning',
 '/zoning_baseline',
 '/zoning_for_parcels']

In [24]:
hdf.close()